<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置bean
        id给bean对象起名字
        class属性表示，该bean对象是哪个类的
    -->
    <bean id = "bookDao" class = "org.ytq.dao.impl.BookDaoImpl" />
    <bean id = "bookService" class = "org.ytq.service.impl.BookServiceImpl">
        <!--配置dao和service之间的关系-->
        <property name="bookDao" ref = "bookDao"/>
    </bean>
</beans>